<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - TSA</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body style="background-color: #008ed6;background-image: url(&quot;/static/images/gradient.png&quot;);margin: auto;background-size: cover;background-repeat: no-repeat;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container"><a class="navbar-brand" href="#">Twitter sentiment analysis</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead text-center text-white" style="background-image: url(&quot;/static/images/sentiment.png&quot;);background-size: cover;margin: auto;height: 658px;padding: 145px;">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0" style="font-size: 45px;background-color: rgba(0,0,0,0.72);">Result Analysis</h1>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/images/problems.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="margin: auto;color: rgb(255,255,255);text-align: center;">&nbsp;Problems We Faced</h2>
                        <p style="background-color: rgba(0,0,0,0.72);color: #ffffff;font-size: 22px;text-align: center;"><strong>We weren't able to receive a Twitter API Key in a timely matter which resulted in the usage of the Twpy library. Twpy allowed us to gather tweets based on a query search that we used for our project. If we were able to use the Twitter API Key instead we would have access to better data.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/images/accuracy.png"></div>
                </div>
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <h2 class="display-4" style="text-align: center; width: 472px;color: rgb(255,255,255);">Accuracy</h2>
                        <p style="color: rgb(255,255,255);background-color: rgba(0,0,0,0.72);font-size: 22px;text-align: center;"><strong>As mentioned, the data collected from twitter was collected using Twpy. When we call twpy it only grabs a subset of tweets from an overall pool of tweets, so each time you run the anaylsis it will result with different data. Given this it is not possible to calculate Precision/Recall and Accuracy if we can not count our True Positives/True Negatives etc. Through the mind of a person one can tell the sentiment analysis has yet to understand sarcasm as it usually counts it as neutral or mistakeningly positive or negative.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="rounded-circle img-fluid" src="/static/images/future.png"></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4" style="text-align: center; color: rgb(255,255,255);">Future Optimizations</h2>
                        <p style="background-color: rgba(0,0,0,0.72);color: rgb(255,255,255);font-size: 22px;text-align: center;"><strong>Once receiving an API Key the program will have stronger data to come up with a stronger analysis. In the future the project could implement filters to make sure the tweets are better quality and only look for tweets that aren't just pictures. Machine learning is also a good future optimization as it will allow the analysis to better understand human sarcasm.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer style="background-color: black;" class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">Information Retrieval Project</p>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/templates/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>